{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-4">
                <h2>Создайте пароль и укажите подтверждение</h2>

                    <form action="{{ path('create_password') }}" method="POST">
                    <input type="hidden" name="expires" value="{{ expires }}">
                    <input type="hidden" name="user" value="{{ user }}">
                    <input type="hidden" name="hash" value="{{ hash }}">

                    <label>
                        Пароль
                        <input type="password" name="password">
                    </label>
                    <label>
                        Подтверждение пароля
                        <input type="password" name="confirmPassword">
                    </label>

                    <button type="submit">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}